{{ "<!-- testimonial -->" | safeHTML }}
  <section class="section bg-gray bg-dots">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title-border border-center"></div>
          {{ with .Site.Data.testimonial }}
          <h4 class="section-title-sm">{{ .titleSM }}</h4>
          <h2 class="section-title">{{ .title }}</h2>
          {{ end }}
        </div>
        <div class="col-10 mx-auto">
          <div class="testimonial-slider">
            {{ range .Site.Data.testimonial.testimonialItem }}
            {{ "<!-- slider-item -->" | safeHTML }}
            <div class="text-center">
              <img class="img-fluid box-shadow rounded-circle mb-5 d-inline-block" src="{{ .clientImage | absURL }}"
                alt="client"  onerror="this.src='{{.clientImageAlt | absURL }}'">
              <div class="bg-quote text-center pt-md-4">
                <p class="font-italic mb-5 h5 text-dark">{{ .content }}</p>
                <h4>{{ .name }}</h4>
                <span class="text-primary">{{ .designation }}</span>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /testimonial -->" | safeHTML }}