<section class="">
	<div class="col-lg-8 offset-lg-2 feature-box p-4 mb-4">
		<h2><em>Cuckold Fantasy Type &amp; Probability Assessment</em></h2>
		<h3>Take this FREE 5 minute assessment and receive:</h3>
		
		<div class="row">
			<div class="col-md-4">
				<img src="images/ClipboardChecklist.png" alt="ClipboardChecklist">
			</div>
			<div class="col-md-8">
				<ul>
					<li>A detailed analysis of where you stand (current advantages &amp; disadvantages of your situation)</li>
					<li>The class/type of objections your wife has given you and what that means for how easy or difficult all this will be</li>
					<li>Feedback on any positive/negative auxiliary factors you have (believe it or not auxiliary factors can make or break your chances)</li>
					<li>Success Probability Score (how likely it is you'll be able to make your fantasy happen)</li>
					<li>What type of cuckold/hotwife husband you are and how that relates to your success probability score</li>
					<li>The next steps you need to take to get your wife to make this a reality</li>
				</ul>
			</div>
		</div>
	</div>
</section>