

.navbar .nav-item .nav-link{
	white-space:nowrap;
}
.nav-main .container-fluid{
	padding-left:0px;
	padding-right:0px;
	
	.collapse.navbar-collapse{
		background: #425063;
	}
	.navbar.navbar-expand-lg {
		flex-flow: column;
		align-items: normal;
		
		.navbar-brand {
			color: rgba(0,0,0,.9);
			justify-content: center;
			margin: auto;
		}
		
		.navbar-nav .nav-link {
			color:#fff;
			
			&:hover {
				color: #86c33a;
			}
		}
	}
	
	
}
.feature-box{
	background-color: #fdfeff;
    border: 1px solid #daedfd;
    border-radius: 8px;
    color: #7e7e7e;
	
	h2{
		font-size:24px;
		font-weight:bold;
		color:#000000;
		text-align:left;
	}
	h3{
		font-size:16px;
		font-family:Arial, sans-serif;
		font-style:normal;
		font-weight:normal;
		color:#808080;
		text-align:left;
	}
	ul{
		li {
			line-height: 1.6em;
			margin-bottom: 12px;
			list-style: circle;
			display: list-item;
		}
	}
}

.banner-feature-wrapper {
    transform: translateY(0px);
}

.row:before, .row:after {display: none !important;}
.navbar{
	display: block;
	text-align:center;
}

.navbar-expand-lg .navbar-nav {display: block; width:100%}
.navbar-expand-lg .navbar-nav li{display: inline-block;}


.menu-area{background:#fff}
.menu-area-nav{background:#425063}


.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{color:#fff;font-size:16px;text-transform:capitalize;padding:16px 15px;font-family:'Roboto',sans-serif;display: block !important;}
.mainmenu .active a,.mainmenu .active a:focus,.mainmenu .active a:hover,.mainmenu li a:hover,.mainmenu li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{color: #4CAF50;outline: 0;}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul ul{min-width:270px !important; }
.mainmenu .collapse ul > li:hover > a{color: #4CAF50;}
.mainmenu .collapse ul > li > ul>li{display:block !important;}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{color: #4CAF50;}
.mainmenu .collapse ul ul ul > li:hover > a{color: #4CAF50;}

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{background:#425063;box-shadow: 0 3px 9px 0 rgba(0,0,0,.12)}
.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{background:#425063}
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{background:#64B5F6}

/******************************Drop-down menu work on hover**********************************/
.mainmenu{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;width: 100%;}
@media only screen and (min-width: 767px) {
.mainmenu .collapse ul li:hover> ul{display:block}
.mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover> ul{display:block}
.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

}
@media only screen and (max-width: 767px) {
.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
.menu-area  .navbar-expand-lg .navbar-nav li{display:block;}
.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{box-shadow: 0 0 4px 1px #000!important ;
    width: 90%;
    margin: 0px auto;}
}