

.navbar .nav-item .nav-link{
	white-space:nowrap;
}
.nav-main .container-fluid{
	padding-left:0px;
	padding-right:0px;
	
	.collapse.navbar-collapse{
		background: #425063;
	}
	.navbar.navbar-expand-lg {
		flex-flow: column;
		align-items: normal;
		
		.navbar-brand {
			color: rgba(0,0,0,.9);
			justify-content: center;
			margin: auto;
		}
		
		.navbar-nav .nav-link {
			color:#fff;
			
			&:hover {
				color: #86c33a;
			}
		}
	}
	
	
}
.feature-box{
	background-color: #fdfeff;
    border: 1px solid #daedfd;
    border-radius: 8px;
    color: #7e7e7e;
	
	h2{
		font-size:24px;
		font-weight:bold;
		color:#000000;
		text-align:left;
	}
	h3{
		font-size:16px;
		font-family:Arial, sans-serif;
		font-style:normal;
		font-weight:normal;
		color:#808080;
		text-align:left;
	}
	ul{
		li {
			line-height: 1.6em;
			margin-bottom: 12px;
			list-style: circle;
			display: list-item;
		}
	}
}

.banner-feature-wrapper {
    transform: translateY(0px);
}

.row:before, .row:after {display: none !important;}
.navbar{
	display: block;
	text-align:center;
}

.navbar-expand-lg .navbar-nav {display: block; width:100%}
.navbar-expand-lg .navbar-nav li{display: inline-block;}


.menu-area{background:#fff}
.menu-area-nav{background:#425063}


.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{color:#fff;font-size:16px;text-transform:capitalize;padding:16px 15px;font-family:'Roboto',sans-serif;display: block !important;}
.mainmenu .active a,.mainmenu .active a:focus,.mainmenu .active a:hover,.mainmenu li a:hover,.mainmenu li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{color: #4CAF50;outline: 0;}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul ul{min-width:270px !important; }
.mainmenu .collapse ul > li:hover > a{color: #4CAF50;}
.mainmenu .collapse ul > li > ul>li{display:block !important;}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{color: #4CAF50;}
.mainmenu .collapse ul ul ul > li:hover > a{color: #4CAF50;}

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{background:#425063;box-shadow: 0 3px 9px 0 rgba(0,0,0,.12)}
.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{background:#425063}
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{background:#64B5F6}

.img-content{
	ul{
		li{
			list-style: disc;
			margin-bottom:10px;
		}
	}
	
}

.sidebar-form .op_signup_form {
    border: 1px solid #dde0e5;
    border-radius: 6px;
    margin: 0 auto;
	background: #263139;
    padding: 18px;
	color:#fff;
	
	h2 {
		font-size: 20px!important;
		color:#fff;
	}
	p{
		color:#fff;
	}
	.css-button{
		line-height: 1;
		text-align: center;
		text-decoration: none;
		position: relative!important;
		display: inline-block!important;
		border-style: solid;
		padding-top: 20px;
		padding-bottom: 20px;
		overflow: hidden;
		border-color: rgba(102,102,102,0.99);
		border-width: 1px;
		border-radius: 8px;
		background: #86c833;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86c833), color-stop(100%, #3f8e30));
		background: -webkit-linear-gradient(top, #86c833 0%, #3f8e30 100%);
		background: -moz-linear-gradient(top, #86c833 0%, #3f8e30 100%);
		background: -ms-linear-gradient(top, #86c833 0%, #3f8e30 100%);
		background: -o-linear-gradient(top, #86c833 0%, #3f8e30 100%);
		background: linear-gradient(to bottom, #86c833 0%, #3f8e30 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#86c833, endColorstr=#3f8e30, GradientType=0);
		box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.5), inset 0px 1px 0px 0px rgba(194,238,128,1);
		
		display: block;
		position: relative;
		z-index: 1;
		font-size: 24px;
		color: #ffffff;
		font-family: Lato;
		font-weight: bold;
		letter-spacing: -1px;
		text-shadow: #000000 0px 1px 0px;
		font-family:Arial;
		
		&:hover{
			background: rgba(255,255,255,.15);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f8e30), color-stop(100%, #86c833));
			background: -webkit-linear-gradient(top, #3f8e30 0%, #86c833 100%);
			background: -moz-linear-gradient(top, #3f8e30 0%, #86c833 100%);
			background: -ms-linear-gradient(top, #3f8e30 0%, #86c833 100%);
			background: -o-linear-gradient(top, #3f8e30 0%, #86c833 100%);
		}
	}
}
.article-container{	
	background:#fff;
	border: 6px solid rgba(0,0,0,.15);
	padding:20px;
}
.rating {
	font-size:13px;
	.mrp-star-full{
		color:#ffd700;
	}
}


@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ 
    /*
      Define here the CSS styles applied only to Safari browsers
      (any version and any device)
     */
	 
}

.articel-row{display:block;} 
_::-webkit-:host:not(:root:root), .safari_only {
	.articel-row{display:block;} 
}

/******************************Drop-down menu work on hover**********************************/
.mainmenu{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;width: 100%;}
.img-content{
	position:relative;
	.img-container.left-image, .img-container.right-image{	
		width: 30%;
		text-align: center;
		float:left;
		margin-right:2%
	}
	.img-container.right-image{	
		float:right;
		margin-left:2%
	}
}
.navbar .dropdown-menu{
	    top: 55px;
    left: -15px;
}

.menu-area-nav {
	ul>li.dropdown>ul, ul>li.dropdown>ul>li.dropdown>ul{display:none;}
	ul>li.dropdown:hover>ul, ul>li.dropdown>ul>li.dropdown:hover>ul{display:block}
}
@media only screen and (max-width: 767px) {
	/*
.mainmenu .collapse ul li:hover> ul{display:block}*/
.mainmenu .collapse ul ul{position:relative;top:100%;left:0; right:0px; min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul li{position:relative}
/*
.mainmenu .collapse ul ul li:hover> ul{display:block}*/
.mainmenu .collapse ul ul ul{position:relative;top:0;left:0px; right:0px;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}
img{max-width:90% !important}
.img-content{width:100% !important; }

h1, .h1 {
    font-size: 36px;
}
h2, .h2 {
    font-size: 30px;
}
h3, .h3 {
    font-size: 24px;
}

.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
.menu-area  .navbar-expand-lg .navbar-nav li{display:block;}
.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{box-shadow: 0 0 4px 1px #000!important ;
    width: 90%;
    margin: 0px auto;}
	
	aside{
		margin-top:20px;
	}
	
	.articel-row-mob{display:block;} 

}

