{{ define "main" }}

  {{ partial "page-title.html" . }}

  {{ if .Site.Data.contact.contactBoxes.enable }}
  {{ "<!-- contact items -->" | safeHTML }}
  <section class="section pb-0">
    <div class="container">
      <div class="row">
        {{ range .Site.Data.contact.contactBoxes.contactBox }}
        {{ "<!-- Addresses -->" | safeHTML }}
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
            <i class="fa {{ .icon }} text-primary icon-lg mb-4"></i>
            <h4 class="mb-4">{{ .title }}</h4>
            <ul class="list-unstyled">
              {{ range .addressList }}
              <li>{{ .listItem }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ "<!-- /contact item -->" | safeHTML }}
  {{ end }}

  {{ if .Site.Data.contact.contactForm.enable }}
  {{ "<!-- contact form and map -->" | safeHTML }}
  <section class="section">
    <div class="container">
      <div class="row">
        {{ "<!-- google map -->" | safeHTML }}
        <div class="col-md-5 mb-5 mb-md-0">
          <div id="map_canvas" data-latitude="{{ with .Site.Params.mapLatitude }} {{ . }} {{ end }}" data-longitude="{{ with .Site.Params.mapLongitude }} {{ . }} {{ end }}" data-marker="{{ with .Site.Params.mapMarker }} {{ . | absURL }} {{ end }}"></div>
        </div>
        <div class="col-md-7">
          <h3 class="section-title">Contact Form</h3>
          <form action="{{ .Site.Data.contact.formAction }}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" name="name" id="name" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="Name">
            </div>
            <div class="col-md-6">
              <input type="email" name="mail" id="mail" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="Email">
            </div>
            <div class="col-md-6">
              <input type="text" name="phone" id="phone" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="Phone">
            </div>
            <div class="col-md-6">
              <input type="text" name="subject" id="subject" class="form-control border-0 rounded-0 box-shadow mb-4" placeholder="Subject">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control border-0 rounded-0 box-shadow mb-5 py-3 px-4" placeholder="Your Message"></textarea>
            </div>
            <div class="col-12">
              <button type="submit" value="send" class="btn btn-primary hover-ripple">send message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /contact form and map -->" | safeHTML }}
  {{ end }}

{{ end }}